{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome"></div>

            <div id="next">
                <h2>What's next?</h2>
                ndjnaskjdnjkasn.
            </div>

        </div>
    </div>
{% endblock %}
