<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>

    {% stylesheets '@bootstrap_css' 'bundles/app/css/main.css' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body style="margin-top:100px">

{% if is_granted('ROLE_ADMIN') %}
    {% block menu %}
        {% include 'AppBundle::menu.html.twig' %}
    {% endblock %}
{% endif %}
<div id="status"></div>
{% block body %}

{% endblock %}
{% javascripts '@jquery' '@bootstrap_js' 'bundles/app/js/main.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
